openapi: 3.0.3
info:
  title: Tanggapin AI API
  description: |
    Complete API documentation for Tanggapin AI microservices platform.
    
    ## Services
    - **Case Service** - Complaints & Service Requests management
    - **Channel Service** - WhatsApp Channel & Live Chat
    - **AI Service** - AI Orchestrator & Knowledge Base
    - **Notification Service** - Event-driven notifications
    
    ## Authentication
    - **Internal API Key**: `X-Internal-API-Key` header for service-to-service communication
    - **JWT Token**: `Authorization: Bearer <token>` for dashboard authentication
    - **Public APIs**: Endpoint publik tersedia untuk form publik (tanpa auth)
    
    ## Base URLs
    Layanan diakses langsung per service (tanpa gateway agregasi).
  version: 1.0.0
  contact:
    name: Tanggapin AI Team
    url: https://tanggapin.ai
  license:
    name: MIT

servers:
  - url: https://case.tanggapin.ai
    description: Case Service (Production)
  - url: https://channel.tanggapin.ai
    description: Channel Service (Production)
  - url: https://ai.tanggapin.ai
    description: AI Service (Production)

tags:
  - name: Health
    description: Health check endpoints
  - name: Complaints
    description: Complaint/Laporan management
  - name: Service Requests
    description: Service request management
  - name: Services
    description: Government services configuration
  - name: Statistics
    description: Statistics and analytics
  - name: User
    description: User history and data
  - name: Messages
    description: Message handling
  - name: WhatsApp Session
    description: WhatsApp session management (QR & token internal)
  - name: Live Chat
    description: Admin takeover and live chat
  - name: WebChat
    description: Web chat API
  - name: Knowledge
    description: Knowledge base and vector search
  - name: AI Analytics
    description: AI processing analytics

components:
  securitySchemes:
    InternalApiKey:
      type: apiKey
      in: header
      name: X-Internal-API-Key
      description: Internal API key for service-to-service communication
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for dashboard authentication

  schemas:
    # Common Schemas
    SuccessResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        data:
          type: object

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        details:
          type: string
        status:
          type: string
          example: error

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        service:
          type: string
        timestamp:
          type: string
          format: date-time

    # Complaint Schemas
    ComplaintCategory:
      type: string
      enum:
        - jalan_rusak
        - lampu_mati
        - sampah
        - drainase
        - pohon_tumbang
        - fasilitas_rusak
        - banjir
        - tindakan_kriminal
        - lainnya

    ComplaintStatus:
      type: string
      enum:
        - OPEN
        - PROCESS
        - DONE
        - CANCELED
        - REJECT

    CreateComplaintRequest:
      type: object
      required:
        - wa_user_id
        - kategori
        - deskripsi
      properties:
        wa_user_id:
          type: string
          example: "6281234567890"
        kategori:
          $ref: '#/components/schemas/ComplaintCategory'
        deskripsi:
          type: string
          example: "Jalan berlubang di depan kantor kelurahan"
        alamat:
          type: string
          example: "Jl. Merdeka No. 10"
        rt_rw:
          type: string
          example: "001/002"
        foto_url:
          type: string
          format: uri
          example: "https://example.com/photo.jpg"

    Complaint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        complaint_id:
          type: string
          example: "LP-20251222-001"
        wa_user_id:
          type: string
        kategori:
          $ref: '#/components/schemas/ComplaintCategory'
        deskripsi:
          type: string
        alamat:
          type: string
        rt_rw:
          type: string
        foto_url:
          type: string
        status:
          $ref: '#/components/schemas/ComplaintStatus'
        admin_notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ComplaintStatistics:
      type: object
      properties:
        totalLaporan:
          type: integer
        laporan:
          type: object
          properties:
            open:
              type: integer
            process:
              type: integer
            done:
              type: integer
            canceled:
              type: integer
            reject:
              type: integer
            hariIni:
              type: integer

    # Service request schemas (permohonan layanan)
    ServiceRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        request_number:
          type: string
          example: "LAY-20250124-001"
        service_id:
          type: string
        wa_user_id:
          type: string
        status:
          type: string
          example: "OPEN"
        citizen_data_json:
          type: object
        requirement_data_json:
          type: object
        admin_notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # Service Schemas
    OperatingHours:
      type: object
      properties:
        senin:
          $ref: '#/components/schemas/DayHours'
        selasa:
          $ref: '#/components/schemas/DayHours'
        rabu:
          $ref: '#/components/schemas/DayHours'
        kamis:
          $ref: '#/components/schemas/DayHours'
        jumat:
          $ref: '#/components/schemas/DayHours'
        sabtu:
          $ref: '#/components/schemas/DayHours'
        minggu:
          $ref: '#/components/schemas/DayHours'

    DayHours:
      type: object
      properties:
        open:
          type: string
          example: "08:00"
        close:
          type: string
          example: "15:00"

    CitizenQuestion:
      type: object
      properties:
        field:
          type: string
        question:
          type: string
        type:
          type: string
          enum: [text, number, date, select, file]
        required:
          type: boolean
        options:
          type: array
          items:
            type: string

    GovService:
      type: object
      properties:
        code:
          type: string
          example: "SKD"
        name:
          type: string
          example: "Surat Keterangan Domisili"
        description:
          type: string
        category:
          type: string
          example: "Kependudukan"
        requirements:
          type: array
          items:
            type: string
        sop_steps:
          type: array
          items:
            type: string
        estimated_duration:
          type: integer
          example: 15
        daily_quota:
          type: integer
          example: 20
        is_active:
          type: boolean
        is_online_available:
          type: boolean
        operating_hours:
          $ref: '#/components/schemas/OperatingHours'
        citizen_questions:
          type: array
          items:
            $ref: '#/components/schemas/CitizenQuestion'

    AvailableSlots:
      type: object
      properties:
        available:
          type: boolean
        service_code:
          type: string
        date:
          type: string
          format: date
        day_name:
          type: string
        total_quota:
          type: integer
        booked:
          type: integer
        remaining:
          type: integer
        available_slots:
          type: array
          items:
            type: string


    Message:
      type: object
      properties:
        id:
          type: string
        wa_user_id:
          type: string
        message:
          type: string
        direction:
          type: string
          enum: [IN, OUT]
        source:
          type: string
          enum: [USER, AI, ADMIN]
        created_at:
          type: string
          format: date-time

    SendMessageRequest:
      type: object
      required:
        - wa_user_id
        - message
      properties:
        wa_user_id:
          type: string
          example: "6281234567890"
        message:
          type: string
        media_url:
          type: string
          format: uri

    Takeover:
      type: object
      properties:
        wa_user_id:
          type: string
        admin_id:
          type: string
        admin_name:
          type: string
        started_at:
          type: string
          format: date-time

    Conversation:
      type: object
      properties:
        wa_user_id:
          type: string
        last_message:
          type: string
        last_message_at:
          type: string
          format: date-time
        unread_count:
          type: integer
        is_takeover:
          type: boolean

    # AI Service Schemas
    WebChatRequest:
      type: object
      required:
        - session_id
        - message
      properties:
        session_id:
          type: string
          example: "web_form_1234567890"
        message:
          type: string
        channel:
          type: string
          default: webchat

    WebChatResponse:
      type: object
      properties:
        success:
          type: boolean
        response:
          type: string
        intent:
          type: string
        processing_time_ms:
          type: integer

    KnowledgeEntry:
      type: object
      required:
        - id
        - title
        - content
      properties:
        id:
          type: string
        title:
          type: string
        content:
          type: string
        category:
          type: string
        keywords:
          type: array
          items:
            type: string
        qualityScore:
          type: number
          format: float

    KnowledgeSearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
        topK:
          type: integer
          default: 5
        minScore:
          type: number
          format: float
          default: 0.7
        categories:
          type: array
          items:
            type: string

    KnowledgeSearchResult:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        content:
          type: string
        score:
          type: number
          format: float
        category:
          type: string

    BlacklistEntry:
      type: object
      properties:
        wa_user_id:
          type: string
        reason:
          type: string
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    AddBlacklistRequest:
      type: object
      required:
        - wa_user_id
        - reason
      properties:
        wa_user_id:
          type: string
        reason:
          type: string
        expiresInDays:
          type: integer
          default: 7

    ProcessingStatus:
      type: object
      properties:
        userId:
          type: string
        stage:
          type: string
        message:
          type: string
        progress:
          type: integer
        completed:
          type: boolean

    AIAnalytics:
      type: object
      properties:
        totalRequests:
          type: integer
        averageProcessingTime:
          type: number
        intentDistribution:
          type: object
          additionalProperties:
            type: integer
        tokenUsage:
          type: object
          properties:
            total:
              type: integer
            input:
              type: integer
            output:
              type: integer

paths:
  # ============================================
  # CASE SERVICE - Health
  # ============================================
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Check service health status
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /metrics:
    get:
      tags:
        - Health
      summary: Prometheus metrics
      description: Get Prometheus metrics
      operationId: getMetrics
      responses:
        '200':
          description: Metrics in Prometheus format
          content:
            text/plain:
              schema:
                type: string

  # ============================================
  # CASE SERVICE - Complaints (Laporan)
  # ============================================
  /laporan/create:
    post:
      tags:
        - Complaints
      summary: Create complaint
      description: Create a new complaint/laporan
      operationId: createComplaint
      security:
        - InternalApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComplaintRequest'
      responses:
        '201':
          description: Complaint created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    $ref: '#/components/schemas/Complaint'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /laporan:
    get:
      tags:
        - Complaints
      summary: Get complaints list
      description: Get list of complaints with optional filters
      operationId: getComplaints
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/ComplaintStatus'
        - name: kategori
          in: query
          schema:
            $ref: '#/components/schemas/ComplaintCategory'
        - name: wa_user_id
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of complaints
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Complaint'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer

  /laporan/{id}:
    get:
      tags:
        - Complaints
      summary: Get complaint by ID
      operationId: getComplaintById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Complaint details
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    $ref: '#/components/schemas/Complaint'
        '404':
          description: Complaint not found

  /laporan/statistics:
    get:
      tags:
        - Complaints
        - Statistics
      summary: Get complaint statistics
      operationId: getComplaintStatistics
      responses:
        '200':
          description: Complaint statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplaintStatistics'

  /laporan/{id}/check:
    post:
      tags:
        - Complaints
      summary: Check complaint status
      description: Check complaint status with ownership validation
      operationId: checkComplaint
      security:
        - InternalApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wa_user_id
              properties:
                wa_user_id:
                  type: string
      responses:
        '200':
          description: Complaint status
        '403':
          description: Not owner of complaint
        '404':
          description: Complaint not found

  /laporan/{id}/status:
    patch:
      tags:
        - Complaints
      summary: Update complaint status
      operationId: updateComplaintStatus
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  $ref: '#/components/schemas/ComplaintStatus'
                admin_notes:
                  type: string
      responses:
        '200':
          description: Status updated
        '404':
          description: Complaint not found

  /laporan/{id}/cancel:
    post:
      tags:
        - Complaints
      summary: Cancel complaint
      operationId: cancelComplaint
      security:
        - InternalApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wa_user_id
              properties:
                wa_user_id:
                  type: string
                cancel_reason:
                  type: string
      responses:
        '200':
          description: Complaint cancelled
        '403':
          description: Not owner
        '404':
          description: Not found


  # ============================================
  # CASE SERVICE - Statistics & User
  # ============================================
  /statistics/overview:
    get:
      tags:
        - Statistics
      summary: Get overview statistics
      operationId: getOverviewStatistics
      responses:
        '200':
          description: Overview statistics

  /user/{wa_user_id}/history:
    get:
      tags:
        - User
      summary: Get user history
      description: Get user history including complaints and service requests
      operationId: getUserHistory
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User history


  # ============================================
  # CHANNEL SERVICE - Webhook
  # ============================================
  /webhook/whatsapp:
    get:
      tags:
        - WhatsApp
      summary: Verify WhatsApp webhook
      description: Webhook verification endpoint for WhatsApp
      operationId: verifyWhatsAppWebhook
      parameters:
        - name: hub.mode
          in: query
          required: true
          schema:
            type: string
          example: subscribe
        - name: hub.verify_token
          in: query
          required: true
          schema:
            type: string
        - name: hub.challenge
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Challenge returned
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: Invalid verify token
    post:
      tags:
        - WhatsApp
      summary: Handle WhatsApp webhook
      description: Receive WhatsApp webhook events
      operationId: handleWhatsAppWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: WhatsApp webhook payload
      responses:
        '200':
          description: Webhook processed

  # ============================================
  # CHANNEL SERVICE - Internal Messages
  # ============================================
  /internal/messages:
    get:
      tags:
        - Messages
      summary: Get messages
      description: Get messages for a user
      operationId: getMessages
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
    post:
      tags:
        - Messages
      summary: Store message
      description: Store AI reply in database
      operationId: storeMessage
      security:
        - InternalApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wa_user_id
                - message
                - direction
              properties:
                wa_user_id:
                  type: string
                message:
                  type: string
                direction:
                  type: string
                  enum: [IN, OUT]
                source:
                  type: string
                  enum: [USER, AI, ADMIN]
      responses:
        '201':
          description: Message stored

  /internal/send:
    post:
      tags:
        - Messages
      summary: Send WhatsApp message
      description: Send message to WhatsApp user
      operationId: sendWhatsAppMessage
      security:
        - InternalApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '200':
          description: Message sent

  /internal/typing:
    post:
      tags:
        - Messages
      summary: Set typing indicator
      operationId: setTypingIndicator
      security:
        - InternalApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wa_user_id
              properties:
                wa_user_id:
                  type: string
      responses:
        '200':
          description: Typing indicator set

  /internal/messages/read:
    post:
      tags:
        - Messages
      summary: Mark messages as read
      operationId: markMessagesRead
      security:
        - InternalApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wa_user_id
              properties:
                wa_user_id:
                  type: string
                message_ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Messages marked as read

  # ============================================
  # CHANNEL SERVICE - WhatsApp Session
  # ============================================
  /internal/whatsapp/session:
    post:
      tags:
        - WhatsApp Session
      summary: Create WhatsApp session
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Session created
    delete:
      tags:
        - WhatsApp Session
      summary: Delete WhatsApp session
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Session deleted

  /internal/whatsapp/status:
    get:
      tags:
        - WhatsApp Session
      summary: Get WhatsApp session status
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Session status

  /internal/whatsapp/connect:
    post:
      tags:
        - WhatsApp Session
      summary: Connect WhatsApp session
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Connection initiated

  /internal/whatsapp/disconnect:
    post:
      tags:
        - WhatsApp Session
      summary: Disconnect WhatsApp session
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Disconnected

  /internal/whatsapp/logout:
    post:
      tags:
        - WhatsApp Session
      summary: Logout WhatsApp session
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Logged out

  /internal/whatsapp/qr:
    get:
      tags:
        - WhatsApp Session
      summary: Get QR code
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: QR code

  # ============================================
  # CHANNEL SERVICE - Live Chat & Takeover
  # ============================================
  /internal/takeover/{wa_user_id}:
    post:
      tags:
        - Live Chat
      summary: Start takeover
      description: Start admin takeover of conversation
      operationId: startTakeover
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - admin_id
                - admin_name
              properties:
                admin_id:
                  type: string
                admin_name:
                  type: string
      responses:
        '200':
          description: Takeover started
    delete:
      tags:
        - Live Chat
      summary: End takeover
      operationId: endTakeover
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Takeover ended

  /internal/takeover:
    get:
      tags:
        - Live Chat
      summary: Get all takeovers
      operationId: getAllTakeovers
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: List of active takeovers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Takeover'

  /internal/takeover/{wa_user_id}/status:
    get:
      tags:
        - Live Chat
      summary: Check takeover status
      operationId: checkTakeoverStatus
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Takeover status

  /internal/conversations:
    get:
      tags:
        - Live Chat
      summary: Get all conversations
      operationId: getAllConversations
      security:
        - InternalApiKey: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conversation'

  /internal/conversations/{wa_user_id}:
    get:
      tags:
        - Live Chat
      summary: Get conversation
      operationId: getConversation
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Conversation details
    delete:
      tags:
        - Live Chat
      summary: Delete conversation
      operationId: deleteConversation
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Conversation deleted

  /internal/conversations/{wa_user_id}/send:
    post:
      tags:
        - Live Chat
      summary: Admin send message
      operationId: adminSendMessage
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                media_url:
                  type: string
      responses:
        '200':
          description: Message sent

  /internal/conversations/{wa_user_id}/read:
    post:
      tags:
        - Live Chat
      summary: Mark conversation as read
      operationId: markConversationRead
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Marked as read

  /internal/conversations/{wa_user_id}/retry:
    post:
      tags:
        - Live Chat
      summary: Retry AI processing
      operationId: retryAIProcessing
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retry initiated


  # ============================================
  # AI SERVICE - Health
  # ============================================
  /health/rabbitmq:
    get:
      tags:
        - Health
      summary: RabbitMQ health
      description: Check RabbitMQ connectivity with retry queue info
      operationId: getRabbitMQHealth
      responses:
        '200':
          description: RabbitMQ status

  /health/services:
    get:
      tags:
        - Health
      summary: Downstream services health
      operationId: getServicesHealth
      responses:
        '200':
          description: Services health status

  # ============================================
  # AI SERVICE - WebChat
  # ============================================
  /api/webchat:
    post:
      tags:
        - WebChat
      summary: Process webchat message
      description: Process a message from web chat interface
      operationId: processWebchatMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebChatRequest'
      responses:
        '200':
          description: AI response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebChatResponse'

  /api/webchat/{session_id}:
    get:
      tags:
        - WebChat
      summary: Get session history
      operationId: getWebchatSessionHistory
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Session history
    delete:
      tags:
        - WebChat
      summary: Clear session
      operationId: clearWebchatSession
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Session cleared

  /api/webchat/stats:
    get:
      tags:
        - WebChat
      summary: Get session statistics
      operationId: getWebchatStats
      responses:
        '200':
          description: Session statistics

  /api/webchat/{session_id}/poll:
    get:
      tags:
        - WebChat
      summary: Poll for messages
      description: Long polling for admin messages
      operationId: pollWebchatMessages
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: New messages if any

  # ============================================
  # AI SERVICE - Knowledge Vector
  # ============================================
  /api/knowledge:
    post:
      tags:
        - Knowledge
      summary: Add knowledge
      description: Add knowledge entry with embedding
      operationId: addKnowledge
      security:
        - InternalApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KnowledgeEntry'
      responses:
        '201':
          description: Knowledge added

  /api/knowledge/{id}:
    get:
      tags:
        - Knowledge
      summary: Get knowledge
      operationId: getKnowledge
      security:
        - InternalApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Knowledge entry
    put:
      tags:
        - Knowledge
      summary: Update knowledge
      description: Update knowledge and re-embed
      operationId: updateKnowledge
      security:
        - InternalApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KnowledgeEntry'
      responses:
        '200':
          description: Knowledge updated
    delete:
      tags:
        - Knowledge
      summary: Delete knowledge
      operationId: deleteKnowledge
      security:
        - InternalApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Knowledge deleted

  /api/knowledge/search:
    post:
      tags:
        - Knowledge
      summary: Vector search
      description: Search knowledge base using vector similarity
      operationId: searchKnowledge
      security:
        - InternalApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KnowledgeSearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/KnowledgeSearchResult'

  /api/knowledge/stats:
    get:
      tags:
        - Knowledge
      summary: Get vector DB stats
      operationId: getKnowledgeStats
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Vector database statistics

  # ============================================
  # AI SERVICE - Document Upload
  # ============================================
  /api/upload/document:
    post:
      tags:
        - Knowledge
      summary: Upload document
      description: Upload and process document for knowledge base
      operationId: uploadDocument
      security:
        - InternalApiKey: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Document file (PDF, DOCX, TXT, MD, CSV)
                category:
                  type: string
      responses:
        '200':
          description: Document processed

  /api/upload/document/{documentId}:
    delete:
      tags:
        - Knowledge
      summary: Delete document
      description: Delete document vectors
      operationId: deleteDocument
      security:
        - InternalApiKey: []
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document deleted

  # ============================================
  # AI SERVICE - Processing Status
  # ============================================
  /api/status/summary:
    get:
      tags:
        - AI Analytics
      summary: Get processing summary
      operationId: getProcessingSummary
      responses:
        '200':
          description: Processing summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      activeCount:
                        type: integer
                      completedCount:
                        type: integer
                      averageProcessingTime:
                        type: number

  /api/status/active:
    get:
      tags:
        - AI Analytics
      summary: Get active processing
      operationId: getActiveProcessing
      responses:
        '200':
          description: Active processing statuses

  /api/status/stream/{userId}:
    get:
      tags:
        - AI Analytics
      summary: SSE status stream
      description: Server-Sent Events stream for real-time updates
      operationId: getStatusStream
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string

  /api/status/{userId}:
    get:
      tags:
        - AI Analytics
      summary: Get user processing status
      operationId: getUserProcessingStatus
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Processing status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessingStatus'

  # ============================================
  # AI SERVICE - Analytics & Statistics
  # ============================================
  /stats/models:
    get:
      tags:
        - AI Analytics
      summary: Get model statistics
      operationId: getModelStats
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Model statistics

  /stats/analytics:
    get:
      tags:
        - AI Analytics
      summary: Get AI analytics
      operationId: getAIAnalytics
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: AI analytics summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIAnalytics'

  /stats/analytics/intents:
    get:
      tags:
        - AI Analytics
      summary: Get intent distribution
      operationId: getIntentDistribution
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Intent distribution

  /stats/analytics/tokens:
    get:
      tags:
        - AI Analytics
      summary: Get token usage
      operationId: getTokenUsage
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Token usage breakdown

  /stats/dashboard:
    get:
      tags:
        - AI Analytics
      summary: Get dashboard stats
      description: Comprehensive dashboard statistics
      operationId: getDashboardStats
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Dashboard statistics

  /stats/analyze-complexity:
    post:
      tags:
        - AI Analytics
      summary: Analyze message complexity
      operationId: analyzeComplexity
      security:
        - InternalApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
      responses:
        '200':
          description: Complexity analysis

  # ============================================
  # AI SERVICE - Rate Limiting
  # ============================================
  /rate-limit:
    get:
      tags:
        - AI Analytics
      summary: Get rate limit stats
      operationId: getRateLimitStats
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Rate limit statistics

  /rate-limit/check/{wa_user_id}:
    get:
      tags:
        - AI Analytics
      summary: Check user rate limit
      operationId: checkUserRateLimit
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Rate limit status

  /rate-limit/blacklist:
    get:
      tags:
        - AI Analytics
      summary: Get blacklist
      operationId: getBlacklist
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Blacklist entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BlacklistEntry'
    post:
      tags:
        - AI Analytics
      summary: Add to blacklist
      operationId: addToBlacklist
      security:
        - InternalApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBlacklistRequest'
      responses:
        '201':
          description: Added to blacklist

  /rate-limit/blacklist/{wa_user_id}:
    delete:
      tags:
        - AI Analytics
      summary: Remove from blacklist
      operationId: removeFromBlacklist
      security:
        - InternalApiKey: []
      parameters:
        - name: wa_user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Removed from blacklist

  # ============================================
  # AI SERVICE - Failed Messages
  # ============================================
  /admin/failed-messages:
    get:
      tags:
        - AI Analytics
      summary: Get failed messages
      operationId: getFailedMessages
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Failed messages list
    delete:
      tags:
        - AI Analytics
      summary: Clear failed messages
      operationId: clearFailedMessages
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Failed messages cleared

  /admin/failed-messages/{messageId}/retry:
    post:
      tags:
        - AI Analytics
      summary: Retry failed message
      operationId: retryFailedMessage
      security:
        - InternalApiKey: []
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Retry initiated

  /admin/failed-messages/retry-all:
    post:
      tags:
        - AI Analytics
      summary: Retry all failed messages
      operationId: retryAllFailedMessages
      security:
        - InternalApiKey: []
      responses:
        '200':
          description: Retry all initiated
