NODE_ENV=development
PORT=3004

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/govconnect?schema=notification

RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672/govconnect
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_MANAGEMENT_URL=http://127.0.0.1:15672

CHANNEL_SERVICE_URL=http://127.0.0.1:3001
INTERNAL_API_KEY=change-me-internal-api-key-eys

ALLOWED_ORIGINS=http://localhost:3010,http://127.0.0.1:3010,http://localhost:3011,http://127.0.0.1:3011
DASHBOARD_URL=http://127.0.0.1:3010
DASHBOARD_SERVICE_URL=http://127.0.0.1:3010

LOG_LEVEL=debug
LOG_DIR=./logs
