NODE_ENV=development
PORT=3003

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/govconnect?schema=cases

RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672/govconnect
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_MANAGEMENT_URL=http://127.0.0.1:15672

INTERNAL_API_KEY=change-me-internal-api-key-eys

LOG_LEVEL=debug
LOG_DIR=logs

ID_PREFIX_COMPLAINT=LAP
ID_PREFIX_SERVICE_REQUEST=LAY

AI_SERVICE_URL=http://127.0.0.1:3002
NOTIFICATION_SERVICE_URL=http://127.0.0.1:3004
